VITE_WEB_URL="http://localhost:3000"
VITE_ACCOUNT_URL="http://localhost:3001"
VITE_AUTH_URL="http://localhost:3002"
VITE_DASH_URL="http://localhost:3011"
VITE_API_URL="http://localhost:3020"
VITE_PUSHER_KEY=""
VITE_PUSHER_CLUSTER=""
VITE_SENTRY_DSN=""
API_URL="http://127.0.0.1:3020"
