NEXT_PUBLIC_APP_NAME="QuickEngine Software"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_ADMIN_URL="http://localhost:3001"
BETTER_AUTH_URL="http://localhost:3002"
NEXT_PUBLIC_QUICKENGINE_AUTH_URL="http://localhost:3002"
STRIPE_SECRET_KEY=""
