NEXT_PUBLIC_APP_NAME="QuickEngine Account"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_ADMIN_URL="http://localhost:3001"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_QUICKENGINE_AUTH_URL="http://localhost:3000"
DATABASE_URL="postgresql://quickengine:quickengine_dev_password@localhost:5435/quickengine"
REDIS_URL="redis://localhost:6381"
